/* DOCUMENT STRUCTURE */
transparent
{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* IE 5.5+*/
-moz-opacity: 0.8; /* Mozilla 1.6 и ниже */
-khtml-opacity: 0.8; /* Konqueror 3.1, Safari 1.1 */
opacity: 0.8; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}
body {
	margin:0;
	padding:0;
	height: 100%;
	background-color:white;
}

div#top {
	height: 80px;
	width: 100%;
	background-color:white;
	position: absolute;
	border-bottom: 3px solid #f90;
}

div#main_simple {
	position: absolute;
	margin-top: 10px;
	width: 100%;
}

div#main 
{
	position:absolute;
	width: 100%;
	margin: auto;
}

div#main2 {
	position: absolute;
	margin-top: 5px;
	width: 100%;
}

div#maincontent {
	width: *;
	margin-left: 2px;
	position:absolute;
	left: 905px;
	top: 0px;
}

div#maincontenteducation {
	width: 720px;
	margin-left: 10px;
	position: absolute;
	left: 180px;
	top: 0;
}

div#maincontentanalyzer {
	width: 560px;
	margin-left: 10px;
	position: absolute;
	left: 10px;
	top: 0;
}

div#maincontentoptions {
	width: 760px;
	margin-left: 10px;
	position: absolute;
	left: 10px;
	top: 0;
}


div#mainpageanalyzer {
	width: 520px;
	margin-left: 10px;
	position: absolute;
	left: 10px;
	top: 0;
}


div#maincontent_norightcolumn 
{
	position: absolute;
	left: 180px;
	top: 0;
	width:80%;
}

div#rightcolumn {
	position: absolute; 
	top: 11px; 
	left: 718px;
} 

div#rightcolumnanalyzer {
	position: absolute; 
	top: 11px; 
	left: 560px;
} 


div.frontpagecontent {
	width: 300px;
	float: left;
}

div.vlcontent {
	border-left: 1px solid #ccc; 
	border-top: 5px solid #ccc; 
	padding-left: 10px; 
	width: 200px; 
	float: right;
}

/* END DOCUMENT STRUCTURE */


/* TOP NAV */

	/* menu styles */
	div#topnav {
		margin-top: 62px;
		margin-left: 94px;
		height: 17px;
	}
	
	div#topnav #topmenu {
		float: left;
		width: 570px;
		height: 17px;
		
	}
	xdiv#topnav #topmenu .menuitem {
		display: inline;
		margin-left: 1px;
		margin-right: 2px;
		font-size: 11px;
		color: black;
		padding-top: 3px;
		padding-right: 3px;
		padding-bottom: 4px;
		padding-left: 5px;
		background-color: #E4FFD5;
	}
	div#topmenu a:link,
	div#topmenu a:visited {
		text-decoration: none;
		font-size: 10px;
		color: black;
	}
	
	div#topmenu a:hover,
	div#topmenu a:active {
		text-decoration: underline;
		font-size: 10px;
	}
	
	ul#nav a { font-size: 9px; }
	ul#nav,ul#nav li{list-style-type:none;list-style:none;margin:0;padding:0}
	ul#nav{ margin: 0; padding: 0 10px 10px 0;}
	/* ul#nav{margin-left: 100px;width:650px} */
	ul#nav li{float: left; display: inline; margin-right: 3px;text-align: center; padding: 0;}
	ul#nav a{float: left;padding: 3px 5px; background: #E7F1F8; text-decoration:none; color: #666; } /* width: 7em; */
	ul#nav > a { width: auto; }
	xul#nav a { float: none; }
	ul#nav a:hover{background: #FFA826; text-decoration: none;}
	ul#nav li.activelink a,ul#nav li.activelink a:hover{background: #FFF;color: #003}
	ul#nav li { background-color: #7BDDA3; }
	
	ul#nav a.sel {
		background-color: #f90;
	}

/* END TOP NAV */



/* MAIN ELEMENTS */

	div#loginstatus, div#newlogin {
		padding: 4px 7px 8px;
		margin-bottom: 5px;
		margin-top: -2px;
		margin-left: 8px;
		background-color: #F90;
		position: relative;
	}
		div#loginstatus span#welcome {
			color: #000;
		}
		div#loginstatus label, div#newlogin label, div form label {
			color: #000;
			padding-bottom: 2px;
			margin-top: 4px;
			display: block;
		}
		input.submit_small {
			padding: 1px 5px;
			font-size: 10px;
			font-family: Tahoma, Verdana, Arial;
			margin-top: 10px;
		}
		div#newlogin form {
			margin: 0;
			padding: 0;
		}
		
	div#subelements {
		margin-left: 4px;
		margin-right: 2px;
		font-size: 11px;
		color: black;
		background-color: #E4FFD5;
	}
	div#subelements a {
		text-decoration: none;
	}
	div#subelements a:hover,
	div#subelements a:active {
		color: red;
	}

	input.standard { /* standard basis */
		border: 0; 
		padding: 1px; 
		font-size: 11px; 
		font-family: Tahoma; 
		width: 200px;
			border-top: 1px solid #555;
			border-left: 1px solid #555;
			border-bottom: 1px solid #ccc;
			border-right: 1px solid #ccc;
	}
		
	input.columninput {
		border: 0; 
		padding: 1px; 
		font-size: 10px; 
		font-family: Tahoma; 
		width: 110px;
			border-top: 1px solid #555;
			border-left: 1px solid #555;
			border-bottom: 1px solid #ccc;
			border-right: 1px solid #ccc;
	}		
		
	input.tickersearch {
		border-top: 1px solid #666;
		border-left: 1px solid #666;
		border-bottom: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 1px; 
		font-size: 10px; 
		font-family: Tahoma; 
		width: 40px;
	}
	
		select.columnselect {
			font-size: 9px;
			font-family: Tahoma, Verdana, Arial, sans-serif;
			width: 160px;
			border-top: 1px solid #555;
			border-left: 1px solid #555;
			border-bottom: 1px solid #ccc;
			border-right: 1px solid #ccc;
			margin-top: 5px;
		}	
	
	
	div.flashpromo {
		margin-top: 15px;
		margin-bottom: -5px;
	}

/* END MAIN ELEMENTS */



/* LEFT NAV */

	#leftcolumn {
		/* float: left; */
		width: 170px; /*Width of left column in pixel*/
		height: 100%;
		border-right: 1px solid #ccc;
		padding-right: 8px;
	}
	
	div#leftmenu {
		font-size: 9px;
	}

	div#leftmenu .menuitem {
		margin-left: 12px;
		border-top: 1px dotted #ccc;
		border-bottom: 1px dotted #ccc;
	}

	div#leftmenu a {
		display: block;
		margin: 1px 0;
		padding-bottom: 3px;
		padding-top: 2px;
		padding-left: 2px;
		padding-right: 9px;
	}
	
	
	
	div#leftmenu a:link,
	div#leftmenu a:visited,
	div#leftmenu a:link,
	div#leftmenu a:visited {
		color: #000;
		text-decoration: none;
	}

	div#leftmenu a.sel {
		font-weight: bold; 
		background-color: #f90;
	}


	div.m_separator {
		background-color:#D0EEC2; 
		padding: 4px 4px 4px 8px; 
		color: #000;
		font-weight: bold; 
		margin-top: -5px; 
		margin-bottom: 5px;
		margin-left: 5px;
	}
	
	div.menuitem em { /* use color instead of italics */
		color: #FF0000;
		font-style: normal;
	}	
	div#leftmenu div.first {
		border-top: none;
	}	
	
/* END LEFT NAV */


/* CSS SWITCHER */

	div#cssoptions a:link {
		color: #ffffff;
		border: 1px solid #ffffff;
		padding: 0 3px;
		margin: 0;
		text-decoration: none;
	}
	div#cssoptions a:visited {
		color: #ffffff;
		border: 1px solid #ffffff;
		padding: 0 3px;
		margin: 0;
		text-decoration: none;
	}
	div#cssoptions a:hover {
		color: black;
		border: 1px solid black;
		padding: 0 3px;
		margin: 0;
		text-decoration: none;
	}
	div#cssoptions a:active {
		color: black;
		border: 1px solid black;
		padding: 0 3px;
		margin: 0;
		text-decoration: none;
	}

/* END CSS SWITCHER */


div#search {
	position: absolute;
	top: 62px;
	left: 727px;
	border: 0;
	height: 21px;
}


div.bar_premium {
	padding: 1px 3px;
	background-color: #BF5406;
	color: white;
	font-size: 9px;
	font-weight: normal;
	margin-bottom: 3px;
	letter-spacing: .1em;
}

div.articlelinks {
	padding-left: 7px;
}

div.articlelinks a {
	display: block;
	margin-bottom: 4px;
	padding: 0;
	border: 0;
}
div.articlelinks a:link { text-decoration: none; }
div.articlelinks a:visited { text-decoration: none; }
div.articlelinks a:hover { text-decoration: none; background-color: #ccc; color: black; }
div.articlelinks a:active { text-decoration: underline; }



div.myvl {
	font-size: 12px;
	padding-left: 5px;
}



div.universitylinks {
	padding-left: 7px;
}

div.universitylinks a {
	display: block;
	margin-bottom: 0px;
	padding: 0;
	border: 0;
}
div.universitylinks a:link { text-decoration: none; }
div.universitylinks a:visited { text-decoration: none; }
div.universitylinks a:hover { text-decoration: none; color: green;}
div.universitylinks a:active { text-decoration: underline; }




img.ics { /* icon, small. for inline use with text. this style only for hanging indent, first char. */
	 border: 0; 
	 padding: 0 2px; 
	 margin-left: -10px; 
}
img.noindent { /* icon, small. NO INDENT */
	 border: 0; 
	 padding: 0 2px; 
	 margin-left: 0; 
}

span.readmore a { /* "read more" links in headlines will be smaller, and won't wrap */
	font-size: 10px;
	font-weight: normal;
	 white-space: nowrap;
}

/* PROMO PODS */

	div.rcol_promo {
		width: 170px; 
		padding: 10px; 
		margin-bottom: 10px; 
	}
	
		.strong {
		background-color: #AFE8E8;
	}
		.strong p {
		color: #000;
		font-size: 11px;
	}	
	
		.strong h1,
		.strong h2,
		.strong h3,
		.strong h4,
		.strong h5 {
		color: #000;
	}
		.strong a:link { color: #000; }
		.strong a:visited { color: #000; }
		.strong a:hover { color: #006600; }
		.strong a:link { color: #006600; }
		
		
		
		
/* PROMO PODS */

	div.did_you_know {
		width: 140px; 
		padding: 10px; 
		margin-bottom: 10px; 
	}
	
		.strong {
		background-color: #AFE8E8;
	}
		.strong p {
		color: #000;
		font-size: 11px;
	}	
	
		.strong h1,
		.strong h2,
		.strong h3,
		.strong h4,
		.strong h5 {
		color: #000;
	}
		.strong a:link { color: #000; }
		.strong a:visited { color: #000; }
		.strong a:hover { color: #006600; }
		.strong a:link { color: #006600; }
		

/* PROMO PODS */

	div.announcement {
		width: 550px; 
		padding: 10px; 
		margin-bottom: 10px; 
	}
	
		.strong {
		background-color: #AFE8E8;
	}
		.strong p {
		color: #000;
		font-size: 11px;
	}	
	
		.strong h1,
		.strong h2,
		.strong h3,
		.strong h4,
		.strong h5 {
		color: #000;
	}
		.strong a:link { color: #000; }
		.strong a:visited { color: #000; }
		.strong a:hover { color: #006600; }
		.strong a:link { color: #006600; }
		
/* PROMO PODS */

	div.samples {
		width: 418px; 
		padding: 10px; 
		margin-bottom: 10px; 
	}
	
		.strong {
		background-color: #AFE8E8;
	}
		.strong p {
		color: #000;
		font-size: 11px;
	}	
	
		.strong h1,
		.strong h2,
		.strong h3,
		.strong h4,
		.strong h5 {
		color: #000;
	}
		.strong a:link { color: #000; }
		.strong a:visited { color: #000; }
		.strong a:hover { color: #006600; }
		.strong a:link { color: #006600; }


				

/* RECURRING ARTICLES, FEATURES, ELEMENTS */

div.feature p {
	font-size: 110%;
	color: #222;
	line-height: 130%;
}

div.listing p {
	font-size: 14px;
}

div.listing a,
div.listing a:visited {
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}

div.listing a:hover,
div.listing a:active {
	color: Red;
	text-decoration: none;
}

div#bottom_matter {
	border-top: 1px dotted green; 
	padding: 8px 0;
}

div.dateline_above {
	margin-bottom: -4px;
	font-size: 10px;
	text-transform: uppercase;
}
div.dateline_below { /* for use directly under a major head (h1/h2) */
	margin-top: -4px;
	margin-bottom: 12px;
	font-size: 10px;
	text-transform: uppercase;
}

div.store_prehead { /* small lead-in above product h1 */
	margin-top: 20px;
	margin-bottom: -10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #f90;
}
.separate {
	border-top: 1px solid #ccc;
	padding-top: 3px;
}

/* mini quote table */

	table.miniquote {
		width: 100%;
		margin: 8px 0;
	}
	table.miniquote td {
		padding: 0 2px;
		font-size: 10px;
		text-align: right;
		border-bottom: 1px solid #aaa;
		color: #000;
	}
	table.miniquote tr.str td { /* stripe */
		background-color: #fff;
	}
	table.miniquote tr td:first-child {
		text-align: left;
	}
	div#vlcontent {
		border-left: 1px solid #ccc; 
		border-top: 5px solid #ccc; 
		padding-left: 10px; 
		width: 200px; 
		float: right;
	}
	
/* stockhighlight table */

	table.stockhigh {
		width: 370px;
		margin: 8px 0;
	}
	table.stockhigh td {
		padding: 0 2px;
		font-size: 12px;
		text-align: left;
		border-bottom: 1px solid #aaa;
		color: #000;
	}
	table.stockhigh tr.str td { /* stripe */
		background-color: #fff;
		font-size: 14px;
		font-weight: bold;
	}
	table.stockhigh tr td:first-child {
		text-align: left;
	}
	div#vlcontent {
		border-left: 1px solid #ccc; 
		border-top: 5px solid #ccc; 
		padding-left: 10px; 
		width: 200px; 
		float: right;
	}	
	
	
/* searches and result sets */

	table caption {
		caption-side: bottom;
		text-align: left; 
		border-top: 1px solid #999; 
		margin-top: 10px;
		font-size: 10px;
		color: #666;
	}

	table.searchresult_basic { width: 100%; }

	table.searchresult_basic tr th,
	table.searchresult_basic tr td {
		text-align: left;
		padding: 2px 5px 2px 1px;
	}
		table tr.odd { /* highlight odd row option */
			background-color: #fff;
		}
